{{#each posts as |post|}}
<a id="post" href="/dashboard/post/{{post.id}}" style="display: block; border:3px solid #f5a25d; border-radius: 10px; background-color: #389393; padding: 7px 15px; margin-bottom:20px; color:azure;">
    <h2 style="display:inline">{{post.title}}</h2>
    <h6 style="display:inline; float:right; margin-top: 10px">Posted on {{post.post_date}}</h6>
</a>
{{/each}}