<div id="post" style="display: block; border:3px solid #f5a25d; border-radius: 10px; background-color: #389393; padding: 7px 15px; margin-bottom:20px; color:azure;">
    <h2 style="display:inline">[Post Title Here]</h2>
    <h6 style="display:inline; float:right; margin-top: 10px">Posted on XX/XX/XXXX</h6>
</div>