<head>
  <meta charset="UTF-8">
  <title>Tech-Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <div class="title">
        <h2>Tech Deck Blogs</h2>
      </div>
      <ul>
        <li><a href="/homepage" >Home</a></li>
        <li><a href="/dashboard" id="dashboard">My Dashboard +</a></li>
        {{#if session.logged_in}}
        <li><a href="#" id="logout">Logout</a></li>
        {{else}}
        <li><a href="/login" id="login">Login</a></li>
        {{/if}}
      </ul>

    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  </div>
  {{#if session.logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>