<form class="form post-and-comment-form" id="{{postId}}">
    <div id="post" style="display: block; border:3px solid black; margin-bottom:20px;">
        <div id="post-header-box" class="form-group"
            style="display:block; background-color: #f5a25d; color: white; padding: 10px 0px 2px 15px">
            <!-- Post Title -->
            <h2>{{post.title}}</h2>
        </div>
        <div id="post-content-box" class="form-group" style="display:block; padding: 15px;">
            <!-- Content typing area -->
            <div id="editted-post-content" name="post-content" rows="8" cols="50" type="text"
                style="font-size: 20px;border-radius:8px; line-height: 1.4; width:100%; padding: 10px; resize: vertical">
                {{post.content}}</div>
            <!-- End Content typing area -->
        </div>
    </div>
    <hr style="margin-bottom: 40px;">


    {{#if allComments.length}}
    <h4>Comments:</h4>
    {{> comments }}
    {{else}}
    <h4 style="text-align:center;">No comments yet</h4>
    {{/if}}

    <hr style="margin-top: 40px;">
    <div id="post" style="display: block; margin-bottom:20px;">
        <div id="comment-content-box" class="form-group" style="display:block; padding: 15px;">
            <textarea id="comment-post-content" name="post-comment" rows="20" cols="50" type="text" placeholder="Type your comment here..."
                style="font-size: 16px;border-radius:8px; line-height: 1.2; width:100%; padding: 10px; resize:none; height:100px;"></textarea>
        </div>
    </div>

    <!-- Submit Comment button -->
    <div class="form-group">
        <button class="btn post-comment-btn" id="delete-post-btn" type="submit"
            style="float: right; padding: 10px 15px;border-radius: 5px;background-color: #4d9338 ;border: black  2px solid;color: rgb(241, 240, 240);font-size: 18px;cursor: pointer; margin-bottom: 20px">Post
            Comment</button>
    </div>
</form>

<script src="/js/newcomment.js"></script>