{{#if posts.length}}
<h4>Your Previous Posts...</h4>
{{> selfposts }}
{{else}}
<h4>No Previous Posts...</h4>
{{/if}}
<button class="new-post-btn" id="new-post-btn">New Post +</button>
<script src="/js/dashboard.js"></script>
