<form id="post" style="display: block; border:3px solid black; margin-bottom:20px;">
    <div id="post-header-box" style="display:block; background-color: #f5a25d; color: white; padding: 7px 15px">
        <input id="post-title" type="text" placeholder="Title your post!"
            style="height: 40px;width: 800px; border-radius:10px; padding: 2px 0px 0px 15px ">
    </div>
    <div id="post-content-box" style="display:block; padding: 15px;">
        <textarea id="post-content" name="post-content" rows="8" cols="50" type="text"
            placeholder="What do you want to post about?"
            style="font-size: 20px;border-radius:8px; line-height: 1.4; width:100%; padding: 10px; resize: vertical"></textarea>
    </div>
</form>
<button class="submit-post-btn" id="submit-post-btn" style="position:absolute;padding: 10px 15px;border-radius: 5px;background-color: #f5a25d;border: #389393 3px solid;color: black;font-size: 14px;">Submit Post</button>